.heading {
  margin-top: 10px;
  padding-bottom: 15px;
  font-family: cursive;
  font-size: 50px;
  color: rgb(36, 5, 5);
}

.heading-sub-names {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 25px;

  font-family: "Solway";
}

.login-btn {
  margin-top: 12px;
  margin-left: 70px;

  font-family: "Solway";
}
.login-btn:hover {
  color: brown;
  background-color: white;
}
