.home-first-section {
  margin-top: 100px;
}
.image-home {
  height: 60vh;
  margin-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text {
  margin-top: 160px;
  font-family: "Solway";
}
